body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 10%;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color:#26547c;
}
.light-blue{
    background-color:#ef476f;
}
.yellow{
    background-color: #ffd166;
}
.gray{
    background-color:#06d6a0;
}
.flash{
    background-color: whitesmoke;
}
.userflash{
    background-color: green;
}